@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

body {
    font-size: 16px;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    margin: 30px 0;
    font-family: "Open Sans", serif;

    &__list {
        list-style: none;
        display: flex;
        justify-content: end;
        gap: 20px;
    }

    &__item {
        @extend %flex-center;
    }

    &__link, &__login-btn, &__donate-btn {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        padding: 10px 15px;
        transition: 0.3s ease-in-out;

        &:hover {
            color: #ff0000;
            text-decoration: underline;
        }
    }

    &__login-btn, &__donate-btn {
        @extend %flex-center;
        width: 125px;
        height: 52px;
    }

    &__login-btn {
        gap: 5px;
        background-color: black;
        color: white;
    }

    &__donate-btn {
        border: 1px solid black;
    }
}

.banner{
    background-color: #0A1D55;
    padding: 80px 60px;
    color: white;
    font-family: "Roboto", serif;
    @extend %flex-center;
    
    &__head{
        font-size: 64px;
        margin-bottom: 20px;
        line-height: 64px;
        
        font-weight: 900;
        
    }
    &__sub-head{
        font-size: 18px;
    }
}

.datetime{

    display: flex;
    gap: 60px;
    padding: 134px;
    margin-top: -80px;


    &__IMG {
        position: relative;
    }
    
        &__imgg {
        position: relative;
        
    }
    
        &__imgg img {
        display: block;
        width: 100%; 
    }
    
        &__iconn {
        position: absolute;
        top: 10px; 
        right: 10px;
    }
    
    
    .right-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 520px;
        font-weight: 700;
        font-family: "Open Sans", serif;
        font-size: 18px;
        margin-top: -6px;
    }
    
    &__head {
        text-align:left;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
      }
    
    &__content {
        display: flex;
        justify-content:left;
        gap: 20px;
        
        
      }
    &__day {
        background:#f0f0f0;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        min-width: 60px;
        border: 1px solid #bdb7b7;
        position: relative; 
    }
    
    &__small {
        background: rgb(255, 255, 255);
        width: 100%; 
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1px 0; 
    }

      &__value{
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: #000;
      }

    
      &__dayy,&__location{
        line-height: 24px;
      }
      &__d{
        line-height: 24px;
        font-size: 15px;
        font-weight: 600;
        width: 670px;
          }
    }

    .tile {
        flex-direction: column;
        @extend %flex-center;

        &__section{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(4,1fr);
            grid-column-gap:2em;
            grid-row-gap:1em;
            padding-left: 82px;
            margin-top: -91px;

        }
        &__icon{
                position: absolute;
                top: 10px;
                right: 10px;
                width: 30px; 
                height: 30px;
        }
        &__tile{
            @extend %flex-center;
            flex-direction: column;
        }
        &__loadmore {
            @extend %flex-center;
            margin: 30px auto;
            width: 150px;
            height: 50px;
            border: 1px solid black;
            background-color: #e2e9f0;  
        }
        
        &__but {
            font-size: 16px;
            font-weight: 800;
            color: #F13E5D;
            background-color: transparent; 
            width: 100%;  
            height: 100%;
            text-align: center;
            cursor: pointer;
        }
    }
    .yellow {     
        width: 100%;
        font-weight: 900;
        max-width: none;
        background-color: #FFD93D;
        display: flex;
        text-align:left;
        flex-direction: column;
        align-items: center;
        padding: 50px;

        &__title {
            font-size: 50px;
            font-weight: 900;
            color: #FF217C;
            text-align: center;
        }

        &__raffle {
            // background: url("/assets/raffle.svg") no-repeat center/cover;
            width: 601px;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            transform: rotate(-4.3deg);
        }
        
        &__raffle p {
            font-weight: 900;
            font-size: 30px;
            color: black;
            transform: rotate(-4.4deg);
        }
        

        &__cont1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
        }
    
        &__description {
            font-size: 18px;
            line-height: 1.6;
        }
    
        &__announcement {
            margin-top: 10px;
            font-weight: bold;
            color: #FF217C;
            font-size: larger;
        }
    
        &__duck {
            width: 350px;
        }
    
        &__btn {
            margin-top: 40px;
            padding: 15px 30px;
            font-weight: bold;
            background-color:#FF217C;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            font-size: larger;
            z-index: 10;
        }
    }

    .blue {
        background: #042028;
        padding: 50px;
        display: flex;
        margin-top: -82px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: none;
        color: white;
        z-index: 1;
        clip-path: polygon(0 100%, 100% 100%, 100% 20%, 50% 0, 0 20%);
    
        h2 { font-size: 36px; 
            font-weight: 700; 
            margin-top: 35px;
        }
            
    
        &__container {
            display: flex;
            gap: 10px;
            
    
            input, button {
                padding: 15px;
                font-size: 16px;
                border-radius: 5px;
                border: none;
            }
    
            input {
                width: 250px;
                background: transparent;
                color: white;
                border: 2px solid white;
                &::placeholder { color: white; }
            }
    
            button {
                background: #FF5A5F;
                color: white;
                font-weight: bold;
                cursor: pointer;
                transition: 0.3s;
                
                &:hover { background: darken(#FF5A5F, 10%); }
            }
        }
    
        &__link {
            list-style: none;
            margin-top: 20px;
    
            a {
                color: white;
                text-decoration: none;
                font-weight: bold;
                font-size: 16px;
                line-height: 1.8;
                &:hover { color: #FFD93D; }
            }
        }
    
        &__socicons {
            display: flex;
            flex-direction:row;
            gap: 20px;
    
            // img { width: 100px; transition: 0.3s; &:hover { transform: scale(1.1); } }/
        
            }
            &__tcon{
                width: 288px;
                height: 288px;
                left: 1094px;
            }
            &__Fcon{
                width: 289.92px;
                height: 212.64px;
                left: 736px;
            }
            &__F1con{
                width:315px;
                height: 217px;
                margin-top: 20px;
                left: 1059px;
            }

        }
    footer {
        background-color: #042027;
        @extend %flex-center; 
        padding: 20px;
        font-size: 10px;
        width: 100%; 
        color: white;
    }
