@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

body {
  font-size: 16px;
}

.end__green, .yellow__raffle, .tile__but, .tile__tile, .tile, .banner, .nav__login-btn, .nav__donate-btn, .nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  margin: 30px 0;
  font-family: "Open Sans", serif;
}
.nav__list {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 20px;
}
.nav__link, .nav__login-btn, .nav__donate-btn {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.3s ease-in-out;
}
.nav__link:hover, .nav__login-btn:hover, .nav__donate-btn:hover {
  color: #ff0000;
  text-decoration: underline;
}
.nav__login-btn, .nav__donate-btn {
  width: 125px;
  height: 52px;
}
.nav__login-btn {
  gap: 5px;
  background-color: black;
  color: white;
}
.nav__donate-btn {
  border: 1px solid black;
}

.banner {
  background-color: #0A1D55;
  padding: 80px 60px;
  color: white;
  font-family: "Roboto", serif;
}
.banner__head {
  font-size: 64px;
  margin-bottom: 20px;
  line-height: 64px;
  font-weight: 900;
}
.banner__sub-head {
  font-size: 18px;
}

.datetime {
  display: flex;
  gap: 60px;
  padding: 134px;
  margin-top: -80px;
}
.datetime__IMG {
  position: relative;
}
.datetime__imgg {
  position: relative;
}
.datetime__imgg img {
  display: block;
  width: 100%;
}
.datetime__iconn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.datetime .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 520px;
  font-weight: 700;
  font-family: "Open Sans", serif;
  font-size: 18px;
  margin-top: -6px;
}
.datetime__head {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.datetime__content {
  display: flex;
  justify-content: left;
  gap: 20px;
}
.datetime__day {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  min-width: 60px;
  border: 1px solid #bdb7b7;
  position: relative;
}
.datetime__small {
  background: rgb(255, 255, 255);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1px 0;
  border-radius: 5px;
}
.datetime__value {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.datetime__dayy, .datetime__location {
  line-height: 24px;
}
.datetime__d {
  line-height: 24px;
  font-size: 15px;
  font-weight: 600;
  width: 670px;
}

.tile {
  flex-direction: column;
}
.tile__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 1em;
  padding-left: 91px;
  margin-top: -97px;
  position: relative;
}
.tile__tile {
  position: relative;
  width: 353px;
  font-family: "Open Sans", serif;
  font-size: 17px;
}
.tile__z {
  margin-top: 9px;
  line-height: 1.3cm;
}
.tile__image {
  position: relative;
}
.tile__iconn {
  position: absolute;
  top: 10px;
  right: 20px;
}
.tile__tile {
  flex-direction: column;
}
.tile__but {
  color: #F13E5D;
  font-weight: 800;
  font-size: 20px;
  line-height: 27.24px;
  width: 285px;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 60px;
  box-shadow: none;
  border: 1px solid black;
  border-bottom: 5px solid #000;
  margin-top: 100px;
}

.yellow {
  width: 100%;
  max-width: none;
  background-color: #F7DA5B;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: "Roboto", serif;
  font-weight: 900;
  margin-bottom: -48px;
}
.yellow__title {
  font-size: 75px;
  color: #F33C5C;
  text-align: center;
}
.yellow__raffle {
  width: 813.13px;
  height: 159.89px;
  margin-top: 20px;
  transform: rotate(-1deg);
}
.yellow__raffle p {
  font-size: 50px;
  color: black;
  transform: rotate(-5deg);
}
.yellow__cont1 {
  display: flex;
  align-items: center;
  margin-left: 139px;
  gap: 164px;
  margin-bottom: 88px;
}
.yellow__content {
  margin-top: 20px;
  line-height: 54px;
}
.yellow__description {
  font-size: 18px;
  font-size: 24px;
}
.yellow__announcement {
  margin-top: 10px;
  color: #F43C5C;
  font-size: 24px;
}
.yellow__duck {
  width: 370px;
  height: 370px;
}

.comm {
  margin-top: -51px;
  margin-left: 400px;
  font-weight: 800;
  font-family: "Open Sans", serif;
  background-color: #F13E5D;
  width: 585px;
  height: 99px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  z-index: 10;
  position: relative;
  border-style: solid;
  border-color: #1C1C1D;
  box-shadow: 0px 4px 0px 0px #202020;
}

.end {
  background-color: #F7DA5B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.end__green-wrapper {
  -webkit-clip-path: polygon(0 10%, 47% 0, 100% 11%, 100% 100%, 0 100%);
          clip-path: polygon(0 10%, 47% 0, 100% 11%, 100% 100%, 0 100%);
  background-color: #FFF7C2;
  padding-top: 20px;
  width: 100%;
  margin-top: -76px;
}
.end__green {
  background-color: #0B2A2B;
  -webkit-clip-path: polygon(0 12%, 47% 0, 100% 13%, 100% 100%, 0 100%);
          clip-path: polygon(0 12%, 47% 0, 100% 13%, 100% 100%, 0 100%);
  margin: 0;
  width: 100%;
  gap: 78px;
}
.end__green__text {
  margin-bottom: 34px;
}
.end__green__text h1 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 64px;
  line-height: 60px;
  margin-top: 180px;
  color: #FFFFFF;
  max-width: 412px;
}
.end__green__input {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
  border: 3px solid #8DA1A1;
  border-radius: 3px;
}
.end__green__input input {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  color: #FFFFFF;
}
.end__green__input button {
  padding: 10px 20px;
  background-color: #F13E5D;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 30px;
  width: 285px;
  height: 70Spx;
  border-radius: 10px;
  text-decoration: none;
  margin: 5px;
  border: 1px solid #000;
}
.end__green__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 24px;
}
.end__green__links a {
  color: #8DA1A1;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
}
.end__green__img {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.end__green__img img {
  width: 500px;
}

.footer {
  background-color: #0B2A2B;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans", serif;
  width: 100%;
  color: white;
}
.footer__line {
  width: 90%;
  margin-bottom: 20px;
  border: 1px solid #194E50;
}/*# sourceMappingURL=styles.css.map */